div{
	width: 250px;
	height: 250px;
	border: 3px solid blue;
	padding: 20px;
}

/* qaty ku e kena shkru ne HTML */
#static{
	position: static;
}

/* krahasohet me veten fillestare */
#relative{
	position: relative;
	left: 200px;
	top: 20px;
}

/* krahasohet me muret e web */
#fixed{
	margin: 0px;
	position: fixed;
	right: 200px;
	top: 100px;
}

#sticky{
	position: sticky;
	top: 0px;
}

#parent{
	position: relative;
}

#absolute{
	position: absolute;
	top: 70px;
	right: 80px;
	width: 100px;
	height: 100px;
}
